<div class="aboutme-section" id="about">
<div class="container">
  <div class="text-center">
      <h2 class="aboutme-heading text-uppercase">About Me</h2>
  </div>
  <div class="row about-me">
    <div class="col-lg-6">
      <img class="rounded profile-img" src="../../../assets/img/profile3.jpg" alt="profile image"  data-aos="fade-right">
    </div>
    <div class="col-lg-6"  data-aos="fade-left">
      <h4 class="hello">Hello,</h4>
      <p class="profile-text">I am an experienced UX/UI Designer and Developer. My passion to create user centered products is what drives me to be the best. I have a strong desire to always be learning, great organization skills, communication skills, and dedicated to creating beautifully designed products with the user at the center of the design process. </p>
    </div>
  </div>
</div>
