.footer {
  background-color: #1C1D1E;
}

.footer-icons {
  display: flex;
  justify-content: center;
  padding-top: 25px;
}

.fab {
  color: #e5e4e2;
  font-size: 35px;
  cursor: pointer;
  padding: 20px;
}

.fab:hover {
  transform: scale(1.3);
  color: #5583a6;
}

.copywrite {
  color: #e5e4e2;
  font-size: 20px;
  text-align: center;
  padding-bottom: 25px;
}
