<section class="portfolio-section">
  <div class="container">
    <div class="text-center">
      <h2 class="portfolio-heading text-uppercase">Portfolio</h2>
    </div>
      <div class="first-portfolio" data-aos="flip-down">
        <h1 class="portfolio-head">Deployment Analysis (alias)</h1>
        <p class="portfolio-para">A web application that enables teams to validate their deployment is meeting SDLC rules and regulations.</p>
        <a class="read-more" href="about.html">Read More</a>
      </div>
  </div>
</section>
