<section class="portfolio-section" id="work">
  <div class="container">
      <h2 class="portfolio-heading text-uppercase">Work</h2>
      <div class="row">
        <div class="col-lg-4 col-sm-12" data-aos="fade-right">
          <h2>Deploymoto (alias)</h2>
          <p>A web application that enables teams to validate their deployment is meeting SDLC rules and regulations.</p>
          <button class="case-study-btn" >View Case Study</button>
        </div>
        <div class="col-lg-8 col-sm-12 portfolio-img" data-aos="fade-left">
          <img class="rounded thumbnail portfolio-img" src="../../../assets/img/portfolio-img1.jpg" alt="profile image">
        </div>
      </div>
      <div class="row">
        <div class="col-lg-8 col-sm-12 portfolio-img" data-aos="fade-right">
          <img class="rounded thumbnail portfolio-img" src="../../../assets/img/portfolio-img1.jpg" alt="profile image">
        </div>
        <div class="col-lg-4 col-sm-12" data-aos="fade-left">
          <h2>Deploymoto (alias)</h2>
          <p>A web application that enables teams to validate their deployment is meeting SDLC rules and regulations.</p>
          <button class="case-study-btn" >View Case Study</button>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-sm-12" data-aos="fade-right">
          <h2>Deploymoto (alias)</h2>
          <p>A web application that enables teams to validate their deployment is meeting SDLC rules and regulations.</p>
          <button class="case-study-btn" >View Case Study</button>
        </div>
        <div class="col-lg-8 col-sm-12 portfolio-img" data-aos="fade-left">
          <img class="rounded thumbnail portfolio-img" src="../../../assets/img/portfolio-img1.jpg" alt="profile image">
        </div>
      </div>

    </div>
</section>
