<section class="deploy-cs ">
  <div class="container">
    <div class="row">
      <div class="col-lg-12"
      data-aos="fade-down"
      data-aos-offset="500"
      data-aos-duration="1000"
      >
        <h1 class="deploy-head">Server Monitor</h1>
        <h2 class="problem">Project Brief:</h2>
        <h2 class="problem">HealthEquity has a series of servers that were used by the SCRUM teams for their automation testing.</h2>
          <h2 class="problem">The problem we were trying to solve was the agents would go offline unexpectedly and wouldn't come back online automatically.
             Also, there wasn't a way for our users to restart the agent after hours.</h2>
            <h2 class="problem">Our goal was to create a web application that watched the agent status. When the agent went offline the application would bring it back up.
              Also, the application needed to allow our users to restart the agent when needed.</h2>
          <p class="disclaimer">Note: to ensure I comply with my non-disclosure agreement I have omitted or changed names, designs, logos, etc. in this case study.
            All information in this case study is my own and does not represent the views of HealthEquity.</p>
      </div>
    </div>
  </div>
</section>
<div class="container my-role-section">
  <div class="row">
    <div class="col-lg-12"
    data-aos="fade-left"
    data-aos-duration="750">
      <h3 class="my-role-head">My Role</h3>
      <p class="my-role-para">I worked with 3 other individuals from strategy to production and I led on all the UX and UI work.</p>
      <p class="my-role-para">I also led the front-end development with one other engineer for the product and wrote the code to build out the monitor UI and front-end functionality.</p>
    </div>
  </div>
</div>
<div class="process-section">
<div class="container ">
  <div class="row">
    <div class="col-lg-12">
      <h3 class="process-head"> MY PROCESS</h3>
    </div>
    <div class="card text-center"
    data-aos="fade-right"I
    data-aos-duration="2000"
    >
      <div class="card-body">
        <i class="fas fa-users"></i>
        <h4 class="my-3">Research</h4>
        <p>Interview users to get a better understanding of the problem we are trying to solve.</p>
      </div>
    </div>
    <div class="card text-center"
    data-aos="fade-down"
    data-aos-duration="2000"
    >
      <div class="card-body">
        <i class="fas fa-address-card"></i>
        <h4 class="my-3">Define</h4>
        <p>Create personas, role objectives, decisions, and understand user pain points. </p>
      </div>
    </div>
    <div class="card text-center"
    data-aos="fade-up"
    data-aos-duration="2000">
      <div class="card-body">
        <i class="fas fa-lightbulb"></i>
        <h4 class="my-3">Ideate</h4>
        <p>Create sketches, low fidelity wireframes, user flows, and gather user feedback. </p>
      </div>
    </div>
    <div class="card text-center"
    data-aos="fade-down"
    data-aos-duration="2000">
      <div class="card-body">
        <i class="fas fa-pencil-ruler"></i>
          <h4 class="my-3">Design</h4>
          <p>Create detailed designs, style guide, stakeholder reviews, and gather user feedback. </p>
      </div>
    </div>
    <div class="card text-center"
    data-aos="fade-left"
    data-aos-duration="2000">
      <div class="card-body">
        <i class="fas fa-user-check"></i>
          <h4 class="my-3">Test</h4>
          <p>Live prototype is created and begin user testing. Gather user feedback.</p>
      </div>
    </div>
    </div>
  </div>
</div>

<div class="container ideation-container">
  <div class="row">
    <div class="col-lg-12"
    data-aos="fade-right"
    data-aos-offset="500"
    data-aos-duration="750">
      <h3 class="my-role-head">Research & Define</h3>
      <p class="my-role-para">Before we began the design, I first spoke with the users to determine what pain points they were experiencing.</p>
      <p class="my-role-para">After research was gathered, I created personas to help keep the user as the center of the design.</p>
    </div>

  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-12"
    data-aos="fade-left"
    data-aos-offset="500"
    data-aos-duration="1000">
      <img class="img-fluid img" src="../../../assets/img/server-monitor-persona.JPG" alt="server monitor persona example">
    </div>
  </div>
</div>

  <div class="ideation">
  <div class="container ideation-container">
    <div class="row">
      <div class="col-lg-12"
      data-aos="fade-left"
      data-aos-offset="1000"
      data-aos-duration="3000"
      >
        <h3 class="my-role-head">Ideation</h3>
        <p class="my-role-para">In the ideation phase I created discussed with my team creative solutions.</p>
        <p class="my-role-para">After that I created wireframes and determined the basic outline of what the application would start to look like. </p>
      </div>
    </div>
  </div>
</div>

<div class="wireframes">
<div class="container">
  <div class="row">
    <div class="col-lg-12"
    data-aos="fade-right"
    data-aos-offset="1000"
    data-aos-duration="3000"
      >
      <img class="img-fluid img" src="../../../assets/img/agent-monitor-wireframe.JPG" alt="server monitor wireframe">
    </div>
  </div>
</div>
</div>

<div class="container ideation-container">
  <div class="row">
    <div class="col-lg-12"
    data-aos="fade-right"
    data-aos-offset="1000"
    data-aos-duration="2000"
    >
      <h3 class="my-role-head">Design</h3>
      <p class="my-role-para">Once we had the wireframes built we had our foundation down for the product. </p>
      <p class="my-role-para">At which point I begun starting on the design. Creating high-fidelity mocks before building it out into code.</p>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-12"
    data-aos="fade-left"
    data-aos-offset="2000"
    data-aos-duration="3000">
      <img class="img-fluid img" src="../../../assets/img/agent-monitor.jpg" alt="high-fidelity mockup">
    </div>
    <div class="col-lg-12"
    data-aos="fade-right"
    data-aos-offset="2000"
    data-aos-duration="3000">>
      <img class="img-fluid img" src="../../../assets/img/agent-monitor-web.png" alt="high-fidelity mockup">
    </div>
  </div>
</div>
<div class="ideation">
  <div class="container my-role-section">
    <div class="row">
      <div class="col-lg-12"
      data-aos="fade-right"
    data-aos-duration="5000">
        <h3 class="my-role-head">Testing</h3>
        <p class="my-role-para">Before deploying to production we tested our product with our users through group testing and one on one interviews.</p>
        <p class="my-role-para">However, this is where I would have done more testing to mitigate any confusion for the user before getting to this stage.</p>
      </div>
    </div>
  </div>
</div>

<div class="container my-role-section">
  <div class="row">
    <div class="col-lg-12"
    data-aos="fade-left"
    data-aos-duration="5000">
      <h3 class="my-role-head">Reflection</h3>
      <p class="my-role-para">What I have learned throughout the design process for this product is to do more adequate testing early on in the process. Making sure to gather feedback at each stage is crucial to creating a good product and ensuring you're focusing it around the user and the problem you're trying to solve.</p>
      <p class="my-role-para">Also, never assume the user knows what the application is for and make sure you are on the same understanding. Basically getting a prototype in front of the user early on is the best approach. </p>
    </div>
  </div>
</div>
<app-footer></app-footer>
