.intro {
  color: #707070;
  font-family: 'Poppins', sans-serif;
  font-size: 25px;
}

.typing {
  font-size: 50px;
  margin-bottom: 25px;
  color: #707070;
  font-family: 'Poppins', sans-serif;
}

.name {
  color: #FC4471;
  font-size: 90px;
  font-family: 'Merienda One', cursive;
  -webkit-transition: color 1s;
  transition: color 1s;
}

.name:hover {
  color: #FE9B00;
  cursor: pointer;
}

.about-me-btn {
  color: #707070;
}

.fa-chevron-circle-right {
  color: #FC4471;
  margin-left: 10px;
  cursor: pointer;
  font-size: 25px;
  position: relative;
}

.background-img {
  background: url(../../../assets/img/colors2.jpg);
  background-attachment: fixed ;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.landing {
height: 80vh;
display: flex;
justify-content: center;
align-items: left;
margin-left: 15%;
}

.landing {
  flex-direction: column;
}

.fab {
  color: #707070;
  font-size: 25px;
  cursor: pointer;
  padding-left: 20px;
}

.fab:hover {
  transform: scale(1.3);
  color: #FE9B00;
}
.footer-icons {
  display: flex;
  flex-direction: column;
  width: 40%;
  padding-left: 5%;
}
