<div class="background-img" id="home">
  <section class="landing landing-background" data-aos="fade-down">
    <h2 class="intro">&mdash; Hello, my name is</h2>
    <h1 class="name">Lina Fowler</h1>

    <h1 class="typing">
      <span class="iama">
        I am a
      </span>
      <span
         class="txt-rotate typing"
         data-period="2000"
         data-rotate='[ "UX/UI Designer", "Developer", "Digital Painter", "Professional Googler"]'>
        </span>
    </h1>
     <a class="btn btn-primary" href="#about">About Me</a>
  </section>
  <span class="hero__scroll" data-aos="fade-up" data-aos-easing="ease" data-aos-delay="700">
    scroll down <br>
    <i (click)="scroll(target)" class="fas fa-chevron-down"></i>
    <div #target></div>
  </span>
</div>
