<div class="background-img">
  <section class="landing landing-background">
    <h2 class="intro">&mdash; Hi, I'm</h2>
    <h1 class="name">Lina Fowler</h1>
    <h1 class="typing">
      <span
         class="txt-rotate typing"
         data-period="2000"
         data-rotate='[ "Web Developer", "UX/UI Designer", "Digital Painter"]'></span>
    </h1>
     <a class="btn btn-primary" href="about.html">About Me</a>
  </section>
  <span class="hero__scroll" data-aos="fade-up" data-aos-easing="ease" data-aos-delay="800">
    scroll down <br>
    <i (click)="scroll(target)" class="fas fa-chevron-down"></i>
    <div #target></div>
  </span>
  <div class=" footer-icons">
    <a href="https://www.linkedin.com/in/linafowler/"><i class="fab fa-linkedin"></i></a>
    <a href="https://www.instagram.com/ladylina_designs/"><i class="fab fa-instagram"></i></a>
    <a href="https://github.com/linalangford235"><i class="fab fa-github-square"></i></a>
</div>
</div>
