<section class="deploy-cs ">
  <div class="container">
    <div class="row">
      <div class="col-lg-12" data-aos="fade-down" data-aos-offset="500" data-aos-duration="1000">
        <h1 class="deploy-head">Deployment Dashboard</h1>
        <h2 class="problem">Project Brief:</h2>
        <h2 class="problem">HealthEquity is an HSA Administrator with a web portal where members and employers can
          access their financial information for their HSAs.</h2>
        <h2 class="problem">The problem the department faced was Scrum teams did not have an adequate way to validate
          the release of our monolith enterprise application to ensure teams did not have
          failing tests or bugs that would effect other parts of the application before being deployed to production.
        </h2>
        <h2 class="problem">Our goal was to create a web application that brought in all the data for each release cycle
          to one place where the SCRUM teams could check if a team is ready to release or not.</h2>
        <p class="disclaimer">Note: to ensure I comply with my non-disclosure agreement I have omitted or changed names,
          designs, logos, etc. in this case study.
          All information in this case study is my own and does not represent the views of HealthEquity.</p>
      </div>
    </div>
  </div>
</section>
<div class="container my-role-section">
  <div class="row">
    <div class="col-lg-12" data-aos="fade-left" data-aos-duration="750">
      <h3 class="my-role-head">My Role</h3>
      <p class="my-role-para">I led the design process for the Deployment Dashboard from strategy to production and
        presented all deliverables to stakeholders.</p>
      <p class="my-role-para">I also led the front-end development for the product and wrote the code to build out the
        Dashboard UI and front-end functionality while the backend was created by the other two devs on my team.</p>
    </div>
  </div>
</div>
<div class="process-section">
  <div class="container ">
    <div class="row">
      <div class="col-lg-12">
        <h3 class="process-head"> MY PROCESS</h3>
      </div>
      <div class="card text-center" data-aos="fade-right" data-aos-duration="2000">
        <div class="card-body">
          <i class="fas fa-users"></i>
          <h4 class="my-3">Research</h4>
          <p>Interview users to get a better understanding of the problem we are trying to solve.</p>
        </div>
      </div>
      <div class="card text-center" data-aos="fade-down" data-aos-duration="2000">
        <div class="card-body">
          <i class="fas fa-address-card"></i>
          <h4 class="my-3">Define</h4>
          <p>Create personas, role objectives, decisions, and understand user pain points. </p>
        </div>
      </div>
      <div class="card text-center" data-aos="fade-up" data-aos-duration="2000">
        <div class="card-body">
          <i class="fas fa-lightbulb"></i>
          <h4 class="my-3">Ideate</h4>
          <p>Create sketches, low fidelity wireframes, user flows, and gather user feedback. </p>
        </div>
      </div>
      <div class="card text-center" data-aos="fade-down" data-aos-duration="2000">
        <div class="card-body">
          <i class="fas fa-pencil-ruler"></i>
          <h4 class="my-3">Design</h4>
          <p>Create detailed designs, style guide, stakeholder reviews, and gather user feedback. </p>
        </div>
      </div>
      <div class="card text-center" data-aos="fade-left" data-aos-duration="2000">
        <div class="card-body">
          <i class="fas fa-user-check"></i>
          <h4 class="my-3">Test</h4>
          <p>Live prototype is created and begin user testing. Gather user feedback.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container ideation-container">
  <div class="row">
    <div class="col-lg-12" data-aos="fade-right" data-aos-duration="750">
      <h3 class="my-role-head">Research & Define</h3>
      <p class="my-role-para">As part of the research step in my process, I conducted interviews with our users to
        understand pain points and issues we were trying to solve.</p>
      <p class="my-role-para">With the research I collected about our users I built personas to make sure we were
        keeping our users at the center of our product.</p>
    </div>

  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-12" data-aos="fade-left" data-aos-duration="1000">

      <img class="img-fluid img" src="../../../assets/img/persona-one.JPG" alt="persona example">
    </div>
    <div class="col-lg-12" data-aos="fade-right" data-aos-duration="2000">

      <img class="img-fluid img" src="../../../assets/img/persona-two.JPG" alt="persona example">
    </div>
  </div>
</div>

<div class="ideation">
  <div class="container ideation-container">
    <div class="row">
      <div class="col-lg-12" data-aos="fade-left" data-aos-duration="3000">
        <h3 class="my-role-head">Ideation</h3>
        <p class="my-role-para">After doing the research it was clear we needed a dashboard of some kind that all our
          users had access to view other teams deployment statuses.</p>
        <p class="my-role-para">This led me to start sketching out ideas and start designing the low-fidelity wireframes
          to get an idea on potential solutions to display the data we needed. </p>
      </div>
    </div>
  </div>
</div>

<div class="wireframes">
  <div class="container">
    <div class="row">
      <div class="col-lg-12" data-aos="fade-right" data-aos-duration="3000">
        <img class="img-fluid img" src="../../../assets/img/Deployment Dashboard - Home.png"
          alt="wireframe example one">
      </div>
      <div class="col-lg-12" data-aos="fade-left" data-aos-duration="3000">
        <img class="img-fluid img" src="../../../assets/img/Deployment Dashboard - Home Scroll.png"
          alt="wireframe example two">
      </div>
    </div>
  </div>
</div>

<div class="container ideation-container">
  <div class="row">
    <div class="col-lg-12" data-aos="fade-right" data-aos-duration="2000">
      <h3 class="my-role-head">Design</h3>
      <p class="my-role-para">After gathering more feedback from the users on the wireframes I begun the design process
        for our high fidelity mockups.</p>
      <p class="my-role-para">I created prototypes to test with our users to ensure we were gathering constant feedback.
      </p>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-12" data-aos="fade-left" data-aos-duration="3000">
      <img class="img-fluid img" src="../../../assets/img/mock-dashboard.JPG" alt="high-fidelity mockup">
    </div>
    <div class="col-lg-12">
      <img class="img-fluid img" src="../../../assets/img/mock-dashboard-exapand.png" alt="high-fidelity mockup">
    </div>
  </div>
</div>
<div class="ideation">
  <div class="container my-role-section">
    <div class="row">
      <div class="col-lg-12" data-aos="fade-right" data-aos-duration="5000">
        <h3 class="my-role-head">Testing</h3>
        <p class="my-role-para">After the prototype was built, we tested the product with our users through one on one
          interviews and group based testing.</p>
        <p class="my-role-para">After testing had completed we gather feedback from our users on ease of use, overall
          rating, pain points, etc. and our users rated our application 4.6 out of 5 stars.</p>
      </div>
    </div>
  </div>
</div>

<div class="container my-role-section">
  <div class="row">
    <div class="col-lg-12" data-aos="fade-left" data-aos-duration="5000">
      <h3 class="my-role-head">Reflection</h3>
      <p class="my-role-para">Over the course of this project I learned many things. Firstly, research is so important.
        Taking the extra time to thoroughly
        research the problem we were trying to solve resulted in a better user experience overall.</p>
      <p class="my-role-para">Next, learning to consider feedback at every stage was very beneficial to the product
        design. I learned it's always best to keep the users at the center of the design. </p>
    </div>
  </div>
</div>
<app-footer></app-footer>
