<section class="deploy-cs">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="deploy-head">Deployment Dashboard</h1>
        <h2 class="problem">Problem: Scrum Teams needed a way to validate each release of their monolith application to ensure teams did not have
          failing tests or bugs that would effect other parts of the application before being deployed to production.</h2>
          <h2 class="problem">Below is the process of how we reached a solution to the problem above and how the Deployment Dashboard came to life. </h2>
          <p class="disclaimer">Note: to ensure I comply with my non-disclosure agreement I have omitted or changed names, designs, logos, etc. in this case study.
            All information in this case study is my own and does not represent the views of HealthEquity.</p>
      </div>
    </div>
  </div>
</section>
<div class="container strategy-section">
  <div class="row">
    <div class="col-lg-6">
      <h3 class="strategy-head">Strategy</h3>
      <p class="strategy-para">To begin the design process I started with empathizing with our users. Before we began work on the project we needed to determine the problem we were trying to solve.</p>
      <p class="strategy-para">This is where I had meetings with the stakeholders, conducted user interviews, planned out our vision and goals for the project.</p>
    </div>
    <div class="col-lg-6">
      <img class="img-fluid" src="../../../assets/img/postits.jpg" alt="picture of post it notes on whiteboard">
    </div>
  </div>
</div>
<div class="define-section">
<div class="container ">
  <div class="row">
    <div class="col-lg-12">
      <h3 class="define-head">Define</h3>
      <p class="define-para">Next, I created personas, user stories, and low-fidelity mocks to define the work.</p>
    </div>
    <div class="col-lg-6">
      <img class="img-fluid" src="../../../assets/img/persona-one.JPG" alt="Persona image example 1">
    </div>
    <div class="col-lg-6">
      <img class="img-fluid" src="../../../assets/img/persona-two.JPG" alt="Persona image example 2">
    </div>
    <div class="col-lg-12">
      <img class="img-fluid" src="../../../assets/img/wireframe.png" alt="Persona image example 2">
    </div>

    </div>
  </div>
</div>

