.navbar-brand {
  font-family: 'Zeyada', cursive;
  font-size: 2.5rem;
  color: #fff;

}

.navbar {
  padding: 0.5rem 3rem;
}

.bg-dark {
  background-color: #1C1D1E !important;
}
.nav-link {
  color: #fff;
  font-weight: 700;
  font-size: 1.1rem;
}

.nav-link:hover {
  transform: scale(1.1);
}
