.portfolio-section {
  background-image: url("../../../assets/img/anglebackground.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.portfolio-heading {
  padding-top: 7%;
  padding-bottom: 2%;
  font-size: 4rem;
  text-align: left;
  font-family: 'Oswald', sans-serif;
  color: #fff;
}
.portfolio-head {
  color: white;
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
}
.business {
  font-size: 1.5rem;
  color: #1C1D1E;
}

.portfolio-para {
  color: white;
  font-size: 20px;
  padding-bottom: 20px;
}

.work-heading {
  font-family: 'Oswald', sans-serif;
  font-size: 3rem;
  padding-bottom: 10px;
  color: #1C1D1E;
}

.work-para {
  font-size: 1.15rem;
  padding-top: 15px;
  padding-bottom: 15px;
  color: #1C1D1E;
  font-family: 'Lato', sans-serif;
}

.case-study-btn {
  color: #1C1D1E;
  font-size: 20px;
  border: solid 2px #1C1D1E;
  border-radius: 30px;
  padding: 13px 29px 15px;
  margin-bottom: 25px;
  background: none;
  cursor: pointer;
  font-family: 'Lato', sans-serif;
}

.case-study-btn:hover {
  background-color:  #5583a6;
  text-decoration: none;
  color: white;
  border: solid 2px #5583a6 ;
  cursor: pointer;
}

.portfolio-img:hover {
  transform: perspective(1000px) rotateX(0deg) rotateY(3deg) scale3d(1, 1, 1);
}
.portfolio-img {
  width: 100%;
  cursor: pointer;
}

.row {
  padding-top: 10%;
}

@media screen and (max-width: 480px) {
 .col-padding {
    margin: 2rem;
 }
 .portfolio-heading {
   padding-top: 15%;
   text-align: center;
 }
 .col-sm-12 {
  padding: 20px;
 }
 .work-para {
   margin-bottom: 2rem;
 }
 .work-heading {
   font-size: 35px;
 }
 .business {
   font-size: 20px;
 }

}
