<section class="whatido-section" id="services">
  <div class="container">
      <div class="text-center">
          <h2 class="whatido-heading text-uppercase">What I Do</h2>
      </div>
      <div class="row text-center">
          <div class="col-md-4" data-aos="fade-right">
            <i class="fas fa-pencil-ruler services-icons"></i>
              <h4 class="my-3">UI Design</h4>
              <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
          </div>
          <div class="col-md-4 border-side" data-aos="fade-down">
            <i class="fab fa-angular services-icons "></i>
              <h4 class="my-3">Angular Web App</h4>
              <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
          </div>
          <div class="col-md-4" data-aos="fade-left">
            <i class="fas fa-code services-icons"></i>
              <h4 class="my-3">Clean Code</h4>
              <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
          </div>
      </div>
      <div class="row text-center">
        <div class="col-md-4" data-aos="fade-right">
          <i class="fas fa-tape services-icons"></i>
            <h4 class="my-3">Logo Creation</h4>
            <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
        </div>
        <div class="col-md-4 border-side" data-aos="fade-up">
            <i class="fas fa-users services-icons"></i>
            <h4 class="my-3">User Research</h4>
            <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
        </div>
        <div class="col-md-4" data-aos="fade-left">
          <i class="fas fa-laptop-code services-icons"></i>
          <h4 class="my-3">Responsive Design</h4>
            <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
        </div>
    </div>
  </div>
</section>
