.whatido-section {
  background-color: #090528;
  color: white;
}

.whatido-heading {
  padding-top: 5%;
  font-size: 50px;
  text-align: left;
  font-family: 'Merienda One', cursive;
}

.services-icons {
  font-size: 50px;
  padding: 30px;
  color: #FC4471;
}

.border-side {
  border-left: 1px solid white;
  border-right: 1px solid white;
  margin: 30px 0;
}
